.message-background {
  background-color: #e3e3e3;
}
.contact-background {
  background-color: #ffffff;
}

.forgot-password {
  position: absolute;
  right: 40px;
  bottom: 120px;
  font-size: 0.9rem;
  color: #007bff;
}

.slackey-regular {
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-size: larger;
  font-style: normal;
}

.playwrite-ar {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.form-control {
  text-align: center;
  padding-left: 1%;
}
.form-control::placeholder {
  text-align: center;
}

@media (min-width: 992px) {
  .custom-text-lg {
    font-size: 2.25rem !important;
  }
}

@media screen and (min-width: 319px) and (max-width: 426px) {
  .hideOffcanvas {
    display: none;
  }
  .showWebView {
    display: flex;
    overflow: hidden;
  }
  .contacts {
    display: flex;
    width: 100%;
  }
  .chatBody {
    display: none;
  }
}
@media screen and (min-width: 427px) {
  .showWebView {
    display: grid;
    grid-template-columns: auto auto;
  }
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .chatBody {
    display: flex;
    flex-direction: column;
  }
  .modal-custom {
    width: 30%;
  }
  .start-50-above-425px {
    left: 50% !important;
  }
}

@media (min-width: 1200px) {
  .custom-duration {
    transition-duration: 1s !important;
  }
}

.custom-text {
  font-size: 1.75rem;
}

.custom-transition {
  transition: all 0.3s;
}

.custom-focus:focus {
  border: none;
  outline: none;
  color: black;
}

.custom-duration {
  transition: all 0.3s;
}
.custom-height {
  height: 10vh;
}

.custom-border {
  border-bottom-width: 1px;
}

.custom-width {
  width: 100%;
}

.bottom-16 {
  bottom: 4rem; /* 16 * 0.25rem (4rem) */
}

.modal-custom {
  position: fixed;
  top: 200px;
  left: 50%;
  border-radius: 10px;
  padding-top: 1rem;
  padding-left: 1.5rem;
  transform: translateX(-50%);
  z-index: 1050;
  display: block;
}

.custom-z-index {
  z-index: 1000;
}
.modal-backdrop {
  display: none;
}

.scrollbar-hidden {
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.font-size-timestamp {
  font-size: 0.8rem;
  opacity: 0.8;
}

.results-container {
  max-height: 50vh;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-animation {
  animation: blink 1s infinite;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.group-notification-font{
  font-size: 0.7rem;
  letter-spacing: -0.6px;
}